# Vivado files to ignore
*.cache/
*.gen/
*.hw/
*.ip_user_runs/
*.runs/
*.sim/
*.log
*.jou
*.str
*.xpe
*.dcp
*.bit


# Sim files
*.wdb
*.pb

# Synth files
*.dcp
*.ltx
*.bit
*.bin
*.mcs

# Other gen files
.Xil/
